/**
  Used to override weird poll behavior where words
  were being written vertically in each poll option
**/
[id*='mulAnswer'] {
  [class*='multiple-poll_answerInner'] {
    width: 100% !important;
  }
}

.poll-component {
  .spinner-container {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
  }
}