@font-face {
    font-family: "Lato";
    src: url("./lato-bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./lato-regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./lato-light.ttf") format("ttf");
    font-weight: light;
    font-style: normal;
}