@font-face {
    font-family: "Kelson Sans";
    src: url("./kelson-sans-bold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Kelson Sans";
    src: url("./kelson-sans-regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kelson Sans";
    src: url("./kelson-sans-light.otf") format("otf");
    font-weight: light;
    font-style: normal;
}