.lobby {
  .transfer-item {
    display: flex;
    flex-direction: row;

    .details {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 10px;

      .title {
        margin: 0;
      }

      .description {
        color: rgba(0, 0, 0, 0.45);
        margin: 0;
      }
    }

    img {
      width: auto;
      max-height: 30px;
      align-self: center;
      border-radius: 25px;
    }

  }
}